.contenedor-nav{
    position: fixed;
    width: 100%;
    top:0px;
    z-index: 1;

}
.cajanav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 50px 20px ;
    background-color: #344d67;
   
}
.btn-RM{
    text-decoration: none;
    color: #6eccaf;
}
.navh2{
    color:#6eccaf;
    margin-left: 90px;
    font-weight: 500;
    font-size: 20px;
}

.cajanav2{
    margin-right: 50px;

}
.btn-N{
    margin: 0px 30px 0px 0px;
    text-decoration: none;
    color: #6eccaf;
}

.btn-N:hover{
    background-color: #6eccaf;
    color:#344d67;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}