


.caja{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    
}

.caja1{
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background:#ffffffe6;
    width: 47%;
    text-align: center;

}

h1 {
    color: #344d67;
    font-weight: 500;
    font-size: 2.5rem;
   
}
.lg{
    margin-top:25px ;
}

h2{ color: #344d67;
    font-weight: 500;
    font-size: 2rem;
    margin:5px 0px 15px 0px;

}
.p1{
    margin-bottom: 20px;
}
p{
    margin-bottom: -10px;
    color: #344d67;
    font-weight: 500;
    font-size: 16px;
}

ul{
    display: flex;
   list-style-type: none;
    margin-top: 20px;
    margin-right: 28px;
}

.btn1, .btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 10px;
    background-color: #344d67; 
    border-radius: 5px;
   
}

 .btnh{
    color: #6eccaf;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
}
.btnh-C{
    padding: 15px 25px;
}
 .btnh:hover{
    background-color: #6eccaf;
    color: #344d67;
 }   

 .btn2:hover{

 }

