.cont-carac{
    margin-top: 200px;
}
.contendorcard{
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
}

.filtros{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    align-items: center;
}

.alert{
    margin-top: 20px;
    display: flex;
    align-items: center;
    
    background-color: #6eccaf;
    gap: 5px;
    padding: 10px  400px 15px 400px;
    color:  #344d67;

}


.nombre1{
    margin: 50px 0px 0px 20px;
}

.filtros-res{
    display: flex;
    align-items: flex-start;
    margin: 0px auto;
    flex-direction: column;
    width: 230px;
    gap:5px;
    padding-bottom: 15px;
    
}

.btn-filtros{
    font-size: 40px;
    color: #6eccaf;
    display: none;
}



/*MEDIAQUERIS*/

@media(max-width:800px){

    .cont-carac{
        margin-top: 230px;
    }
    .nombre1{
        color: #6eccaf;
        font-weight: 500;
        
        
        margin: 0px;
    }

    .filtros-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#344d67;
        padding: 20px 0px;
        width: 80%;
        border-radius: 7px;
        gap:300px;
        margin-bottom: 30px;
    }
    .contenedor-filtros{
        display: flex;
        justify-content: center;
    }

    .filtros{
        display:none;
    }
    .btn-filtros{
        display: flex;
    }
    

}

@media(max-width:500px){

    .filtros-nav{
        width: 95%;
        gap:150px;
    }
}






      
     
  