@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;900&display=swap');


*{
  font-family: "Raleway",sans-serif;
  padding: 0px;
  margin: 0px
}


body{
  background-image: url(../public/rickymorty.jpg);
    background-size: cover;
    height: 595px;
    background-attachment: fixed;
}