*{
  padding: 0px;
  margin: 0px
}
body{
  background-image: url(./rickymorty.jpg);
    background-size: cover;
    height: 595px;
    display: flex;
    justify-content: center;
    align-items: center;
}